<!DOCTYPE html>
<html ng-app="blog">
<head>
    <title>Zarb - Backend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
    <script type="application/javascript" src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/angular/angular.min.js') }}"></script>
    <script type="application/javascript"
            src="{{ url_for('static', filename='js/angular/angular-route.min.js') }}"></script>
    <script type="application/javascript"
            src="{{ url_for('static', filename='js/angular/angular-resource.min.js') }}"></script>
    <script type="application/javascript"
            src="{{ url_for('static', filename='js/ueditor/ueditor.config.js') }}"></script>
    <script type="application/javascript"
            src="{{ url_for('static', filename='js/kindeditor/kindeditor-min.js') }}"></script>
    <script type="application/javascript"
            src="{{ url_for('static', filename='js/angular/angular-sanitize.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/generalController.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/adminController.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/jquery.pagination.js') }}"></script>
</head>
<body class="backEnd">
<div class="container" id="admin" ng-controller="generalCTRL">
    <div class="col-lg-3">
        <ul class="nav nav-pills nav-stacked">
            <li ng-class="{ active:module=='home' }" ng-click="module='home'"><a href="#/home/"><i
                    class="glyphicon glyphicon-home"></i> 后端首页</a></li>
            <li ng-class="{ active:module=='post' }" ng-click="module='post'"><a href="#/post/list"><i
                    class="glyphicon glyphicon-book"></i> 日志列表</a></li>
            <li ng-class="{ active:module=='setting' }" ng-click="module='setting'"><a href="#/setting/account"><i
                    class="glyphicon glyphicon-cog"></i> 设置</a></li>
            <li><a href="/"><i class="glyphicon glyphicon-new-window"></i> 返回前端</a></li>
        </ul>
    </div>
    <div class="col-lg-9">
        <div ng-view></div>

    </div>
</div>
</body>
</html>