<!DOCTYPE html>
<html ng-app="blog">
<head>
    <title>Zarb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
    <script type="application/javascript" src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/angular/angular.min.js') }}"></script>
    <script type="application/javascript"
            src="{{ url_for('static', filename='js/angular/angular-route.min.js') }}"></script>
    <script type="application/javascript"
            src="{{ url_for('static', filename='js/angular/angular-resource.min.js') }}"></script>
    <script type="application/javascript"
            src="{{ url_for('static', filename='js/angular/angular-sanitize.min.js') }}"></script>
    <script type="application/javascript"
            src="{{ url_for('static', filename='js/angular/angular-animate.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/generalController.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/frontController.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/jquery.pagination.js') }}"></script>
</head>
<body class="forntEnd">
<div class="top_banner">
    <div class="container">
        <div id="logo"></div>
    </div>
</div>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav" style="font-size: 14px">
                <li ng-class="{ active: module=='home' }"><a href="#"><i class="glyphicon glyphicon-home"></i> 首页</a>
                </li>
                <li ng-class="{ active: module=='postlist' }"><a href="#/posts"><i class="glyphicon glyphicon-book"></i>日志</a>
                </li>
                <li class="active" ng-show="module=='tag'"><a><i class="glyphicon glyphicon-tag"></i>{{ '{{tag_name}}' }}</a></li>
                <li><a href="/admin#/home/"><i class="glyphicon glyphicon-road"></i>管理端</a></li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
<section class="container">
    {% block content %}

    {% endblock %}
</section>
<section class="footer">
    <div class="alert alert-success alert-dismissable hide">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    </div>
    <div class="content"></div>
    <hr/>
    <div class="text-center">2013 &copy; TavernGoal</div>
</section>
</body>
</html>