body{ font-size: 12px; color:#444; margin:0; padding: 0;
    font-family:"Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, simsun, sans-serif;
}
body.forntEnd {    background-image: url('../images/bg.gif');}
body.backEnd {    background-image: url('../images/grey.png');}

#logo {
    background: url("../images/logo.png") no-repeat left;  margin:40px 0 0 40px; height: 72px;  }

#index {  }
    /*#index .top_banner { margin-bottom: 20px }*/
.top_banner { height: 170px; background-image: url('../images/hd_bg.gif')}

a { cursor: pointer }
a:hover { text-decoration: none }

#space_login { width: 1170px;  }

#user_zone { padding-top: 30px; }

div.thumbnail { margin-bottom: 30px;}

.tool-bar { font-size: 14px}

.error-md { line-height: 32px; }

#admin { padding:20px 0; }

#homePosts .panel-list { margin-bottom: 30px; height: 350px; text-overflow: ellipsis;white-space: nowrap; overflow:hidden }
#homePosts .panel+div.clearfix { top:-20px; position: relative}
#homePosts .panel .panel-title { text-overflow: ellipsis;white-space: nowrap; overflow:hidden;  font-family: 'microsoft yahei ui',sans-serif; font-size: 24px;  }
#homePosts .panel .panel-title i{ color:#336699; position: relative; top:4px ; overflow: visible }
#homePosts .panel-list .panel-collapse { height: 255px}
#homePosts .panel .panel-footer {  position: relative; height: 50px; border-top: #ddd solid 1px; background-color: #fafafa; color: #aaa }
#homePosts .panel .panel-heading {background-color: #fff; height: 50px; line-height: 50px;}
#homePosts .panel-view { margin-bottom: 30px;  }
#homePosts .panel-view .panel-title {   white-space: normal; }
#homePosts .panel-view .panel-heading{ height:auto;}
#homePosts .panel-view .panel-footer{border-top: #ddd solid 1px;border-bottom: #ddd solid 1px; line-height: 30px }

.reveal-animation.ng-enter {
 -webkit-transition: 500ms linear all; /* Safari/Chrome */
 transition: 500ms linear all; /* All other modern browsers and IE10+ */
 opacity: 0;
}

.reveal-animation.ng-enter.ng-enter-active {
 opacity: 1;
}
#commentList { padding: 10px;}
#commentList > blockquote{  border-bottom: 1px solid #eee; border-left: 0 }
#commentList > blockquote > p{ font-size: 14px; color:#444 }
#commentList > blockquote > small:before { content: ''  }
/*#commentList > blockquote span:first {   }*/
.pagination { margin:0;}
p.tags { line-height: 25px; }
p.tags a.tagItem { margin-right: 4px}
p.tags a.tagItem span.count {  padding-left: 2px;border-left:1px solid #fff; left:2px; position: relative; top:1px  }