
<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
{% with messages = get_flashed_messages() %}
 {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{{ aa }}
<form action="{{ url_for('abc.signin') }}" method="post">
    <input type="text" placeholder="用户名" name="nick" class="input">
    <input type="password" placeholder="密码" name="psd" class="input">
    <input type="submit" value="登录"  class="btn btn-primary">
</form>
</body>
</html>