<nav class="navbar navbar-default" role="navigation">
</nav>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">
            日志列表 </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
            日志列表
        </div>
        <table class="table">
            <tr>
                <th class="text-center">标题</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">访问数</th>
            </tr>
            <tr ng-repeat="post in posts">
                <td>{{ post.title }}</td>
                <td>{{ post.created_at | date }}</td>
                <td>{{ post.views }}</td>
            </tr>
        </table>
    </div>
</div>